{
  "gitlabHost":     "https://gitlab.com",
  "gitlabApiPath": "/api/v3",
  "gitlabUser": "username",
  "gitlabPassword": "passwrod",
  "gitlabToken":    "xxxxx",
  "gitlabProjects": ["project1", "project2"],
  "gogsUrl": "gogs host url",
  "gogsToken": "yyyyyy",
  "gogsApiPath": "/api/v1"
}
